.modales{

    &__text--title{
        font-family: $font-secondary;
        font-size: 18px;        
    }

    &__text--content{
        font-family: $font-secondary;
        font-size: 14px;
    }

}